@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    --primary-color: #2988FF;

    /* border */
    --border-default: #D9D9D9;
    --border-neutral-secondary: #B3B3B3;

    /* background */
    --background-default-default-tap: #F5F5F5;
    --background-default-secondary: #F5F5F5;

    /* 폰트 */
    --font-family-body: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --body-caption-12px: 12px;
    --body-secondary-16px: 16px;
    --text-default: #1E1E1E;
    --text-default-secondary: #808080;
}

.error {
    color: red;
}